.home {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.slogan {
  position: absolute;
  left: 33px;
  top: -35px;

  font-family: 'BMKkubulim', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #000000;

  text-align: left;
  white-space: pre-line;
}


.image-wrap {
  position: absolute;
  top: 152px;
  left: 0;
  width: 100%;
  height: auto;
}

/* 종이 배경 */
.paperback {
  position: absolute;
  width: 382px;
  height: 573px;
  left: 0px;
  top: 0px;
  z-index: 2;
}

/* 인물 */
.nozern {
  position: absolute;
  width: 313px;
  height: 467px;
  left: 37px;
  top: 74px;
  z-index: 4;
}



.vector1 {
  position: absolute;
  width: 299px;
  height: 144.21px;
  left: 0px;
  top: 552px;
  z-index: 3;
}

.vector2 {
  position: absolute;
  width: 67px;
  height: 320px;
  left: 296px;
  top: 272px;
  z-index: 1;
}



.ellipse {
  position: absolute;
  width: 166px;
  height: 166px;
  left: 25px;
  top: 304px;
  z-index: 0;
}

.blockback {
  position: absolute;
  width: 393px;
  height: 80px;
  left: 0px;
  top: 693px;
  z-index: 5;
}



.lettere {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 268px;
  top: 447px;
  z-index: 6;
}

.lettern {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 258.62px;
  top: 602px;
  z-index: 6;
}

.lettern2 {
  position: absolute;
  width: 80px;
  height: 90px;
  left: 270px;
  top: 232px;
  z-index: 7;
}

.lettero3 {
  position: absolute;
  width: 80px;
  height: 95px;
  left: 220px;
  top: 304px;
  z-index: 1;
}

.letterr {
  position: absolute;
  width: 94px;
  height: 94px;
  left: 290px;
  top: 517px;
  z-index: 7;
}

.letters {
  position: absolute;
  width: 60px;
  height: 75px;
  left: 234.47px;
  top: 176px;
  z-index: 6;
}

.letterz {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 280px;
  top: 357px;
  z-index: 6;
}



.star1 {
  position: absolute;
  width: 57.68px;
  height: 57.68px;
  left: 55px;
  top: 202px;
  z-index: 8;
}

.star2 {
  position: absolute;
  width: 42.3px;
  height: 42.3px;
  left: 50.49px;
  top: 252px;
  z-index: 8;
}
