/* Header.css */

/* --- 상단 헤더 --- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  background: rgba(249, 241, 220, 0.7);
  z-index: 100;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-transform: translateZ(0);
}

/* --- 헤더 내부 요소 --- */
.brand-title {
  position: absolute; /* header를 기준으로 위치 */
  left: 33px;
  top: 26px;
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

.menu-icon-wrap {
  position: absolute;
  right: 33px;
  top: 42px;
  width: 22px;
  height: 18px;
  cursor: pointer;
  z-index: 9999;
}

.menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.menu-icon.visible { opacity: 1; }
.menu-icon.hidden { opacity: 0; }